---
import '../../styles/blog.scss'
import Layout from "../../layouts/Layout.astro";
import BsAlert from '../../components/bsAlert.svelte'
import { getCollection } from 'astro:content'
import GradientHeader from "../../components/gradientHeader.svelte";
const posts = await getCollection("blog")
posts.sort(
  (a, b) =>
    new Date(b.data.pubDate).valueOf() -
    new Date(a.data.pubDate).valueOf()
);
---

<Layout title="Blog">
  <GradientHeader title="Blog" client:load />
  <div class="mx-10">
    <BsAlert
      client:idle
      type="info"
      icon={"info"}
      text="All posts organized by date. Stay and scroll a while!"
      actionLink=""
      actionText=""
    />
  </div>
  <section>
    <ul class="grid lg:grid-cols-3 portrait:grid-cols-1 grid-cols-2 pr-8">
      {
        posts.map((post) => (
          <li class="card p-6 shadow-md">
            <div class="rounded-lg p-4">
              <img transition:name={post.data.heroImage.alt ?? "image"} src={post.data.heroImage.src} alt="" class="m-auto p-4 card-img-top" />
              <div class="card-body">
                <a
                href={`/blog/data/posts/${post.slug ?? post.data.urlBase}`}
                class="font-bold card-title font-secondary"
                transition:name={post.data.title}
              >
                {post.data.title}
              </a>{" "}
              <br />
              <p class="font-bold font-secondary card-subtitle"><span>{post.data.author}</span></p>
              <time datetime={post.data.pubDate} class="card-text">
                {post.data.pubDate}
              </time>
              <p class="p-4" transition:name={post.data.description} >{post.data.description}</p>
              </div>
            </div>
          </li>
        ))
      }
    </ul>
  </section>
</Layout>

<style>
  img {
    width: 350px;
  }
</style>
