---
import Layout from "./Layout.astro";
import "../styles/bootstrap.scss";
export interface Props {
  content: {
    title: string;
    description: string;
    author: string | undefined;
    pubDate: string;
    updatedDate?: string;
    heroImage: string;
    urlBase: string;
  };
}
const {
  content: {
    title,
    description,
    author,
    pubDate,
    updatedDate,
    heroImage,
    urlBase,
  },
} = Astro.props;
---

<Layout title={title} description={description}>
  <main class="dark:bg-black dark:text-white">
    <article class="p-10">
      {
        !!heroImage ? (
          <img width={720} height={360} src={heroImage} alt="" class="m-auto" />
        ) : <img width={720} height={360} src="/FullColor.svg" alt="" class="m-auto" />
      }
      <h1
        class="font-bold font-primary text-3xl pt-4 underline underline-offset-1"
      >
        {title}
      </h1>
      <h1 class="font-semibold font-primary text-2xl">
        <span class="font-medium">by </span>{author}
      </h1>
      {pubDate && <time class="">{pubDate}</time>}
      {
        updatedDate && (
          <div>
            Last updated on <time>{updatedDate}</time>
          </div>
        )
      }
      <hr />
      <slot />
    </article>
  </main>
</Layout>
