---
import { SEO } from "astro-seo";
import Footer from "../components/footer.svelte";
import NavBar from "../components/nav.vue";
import { ViewTransitions } from "astro:transitions";
import "../globals.scss";
import '../styles/blog.scss'
import { Image } from 'astro:assets';
import pattern from '../img/pattern.svg'
import signature from '../../public/signature-blue.png'
import FullColorFavi from '../img/FullColorFavi.svg'

export interface Props {
  content: {
    title: string;
    description: string;
    author: string | undefined;
    pubDate: string;
    updatedDate?: string;
    heroImage: {
      src: string;
      alt: string;
    };
    urlBase: string;
    slug: string
  };
}
const {
  content: {
    title,
    description,
    author,
    pubDate,
    updatedDate,
    heroImage,
    urlBase,
    slug
  },
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ViewTransitions fallback="none" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/FullColorFavi.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <script>
			function setBsDarkMode() {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.body.setAttribute('data-bs-theme', 'dark')
        } else {
          document.body.setAttribute('data-bs-theme', 'light')
        }
      }
      setBsDarkMode()
      document.addEventListener('astro:after-swap', setBsDarkMode)
		</script>
		<SEO 
			title={`${title} | Ryan Mullin`}
			description={description}
			noindex={false} 
			nofollow={false}
			openGraph={
				{
					basic: {
						title: `${title} | Ryan Mullin`,
						type: "website",
						image: heroImage.src,
						url: Astro.request.url
					},
					optional: {
						description: description,
						locale: "en-US",
						siteName: "Ryan Mullin"
					},
					image: {
						alt: heroImage.alt
					}
				}
			}
		/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="p-10">
      <NavBar client:load>
				<Image src={FullColorFavi} alt='a double arrow' style={{height: '2rem'}}></Image>
			</NavBar>
    </nav>
    <main >
      <article class="p-10">
        <h1
          class="font-extrabold font-primary text-3xl md:text-5xl p-8 bg-primary text-secondary rounded-lg selection:bg-secondary selection:text-primary"
          transition:name={title}
        >
          {title}
        </h1>
        <img
          width={720}
          height={360}
          src={heroImage.src}
          alt={heroImage.alt}
          class="m-auto p-4 card-img-top"
          transition:name={heroImage.alt ?? "image"}
        />
        <h1 class="font-semibold font-primary text-4xl">
          <span class="font-medium">by </span><span>{author}</span>
        </h1>
        {pubDate && <time datetime={pubDate} class="card-text" transition:name={pubDate}>{pubDate}</time>}
        {
          updatedDate && (
            <div>
              Last updated on <time>{updatedDate}</time>
            </div>
          )
        }
        <hr />
        <div class="text-lg leading-relaxed mb-6 first-letter:text-6xl first-letter:font-bold first-letter:font-serif first-letter:selection:bg-primary first-letter:selection:text-secondary">
          <slot />
        </div>
        <Image src={signature} alt="ryan mullin" style={{ width: "20rem"  }}>
      </article>
    </main>
    <Footer>
			<Image src={pattern} alt='pattern' id='pattern' style={{}} />
		</Footer>
		<style>
			#pattern {
				background-size: cover;
				object-fit: fill;
				width: auto;
			}
		</style>
	</body>
  </body>
</html>

<style>
  img {
    border-radius: 10px;
  }
</style>