---

const { title, description } = Astro.props;
import { SEO } from 'astro-seo'
import '../globals.scss'
import Footer from '../components/footer.svelte';
import NavBar from '../components/nav.vue';
import '../styles/bootstrap.scss';
import '../../node_modules/bootstrap-icons/font/bootstrap-icons.scss'
import { ViewTransitions } from 'astro:transitions';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<ViewTransitions fallback="none"/>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/FullColorFavi.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>
		<script>
			function setBsDarkMode() {
				if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
				document.body.setAttribute('data-bs-theme', 'dark')
				} else {
				document.body.setAttribute('data-bs-theme', 'light')
				}
			}
			setBsDarkMode()
			document.addEventListener('astro:after-swap', setBsDarkMode)
		</script>
		<SEO 
			title={title}
			description={description}
			noindex={false} 
			nofollow={false}
			openGraph={
				{
					basic: {
						title: title,
						type: "website",
						image: "/standard.png",
						url: Astro.request.url
					},
					optional: {
						description: description,
						locale: "en-US",
						siteName: "Ryan Mullin's Blog"
					},
					image: {
						alt: "double arrow"
					}
				}
			}
		/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet"> 
	</head>
	<body>
		<nav class="p-10">
			<NavBar client:load />
		</nav>
		<slot />
		<Footer />
	</body>
</html>