---
import { SEO } from "astro-seo";
import Footer from "../components/footer.svelte";
import NavBar from "../components/nav.tsx";
import "../globals.scss";
import '../styles/blog.scss'
import Tag from "../components/tag.svelte";
import { Image } from 'astro:assets';
import pattern from '../img/waves.png'
import FullColorFavi from '../img/2025/RM-monogram-black-on-transparent.svg'
import { ClientRouter } from 'astro:transitions';
export interface Props {
  content: {
    name: string,
    description: string,
    date:string,
    freelance: boolean,
    url: string
    heroImage: {
        src: string
        alt: string
    },
    tags: string[]
  };
}
const {
  content: {
    name,
    description,
    date,
    freelance,
    url,
    heroImage,
    tags
  },
} = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
<html lang="en">
  <head>
    <ClientRouter />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/2025/RM-monogram-black-on-transparent.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <script>
      function setBsDarkMode() {
        if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
          document.body.setAttribute('data-bs-theme', 'dark')
        } else {
          document.body.setAttribute('data-bs-theme', 'light')
        }
      }
      setBsDarkMode()
      document.addEventListener('astro:after-swap', setBsDarkMode)
		</script>
		<SEO 
			title={`${name} | Ryan Mullin`}
			description={description}
			noindex={false} 
			nofollow={false}
			openGraph={
				{
					basic: {
						title: `${name} | Ryan Mullin`,
						type: "website",
						image: heroImage.src,
						url: Astro.request.url
					},
					optional: {
						description: description,
						locale: "en-US",
						siteName: "Ryan Mullin",
					},
					image: {
						alt: heroImage.alt
					}
				}
			}
		/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav class="p-10">
      <NavBar client:load>
				<Image src={FullColorFavi} alt='a double arrow' style={{height: '3rem'}}></Image>
			</NavBar>
    </nav>
    <main class="">
      <article class="p-10">
        <a
            href={url}
            class="font-extrabold font-primary text-4xl lg:text-6xl p-8 no-underline"
            transition:name={name}
          >
            {name}
        </a>
        <img
        width={500}
        height={500}
        src={heroImage.src}
        alt={heroImage.alt}
        class="m-auto p-8 card-img-top"
        transition:name={heroImage.alt ?? "image"}
        />
        <p 
          class="font-semibold font-primary pl-4 text-sm lg:text-2xl text-secondary bg-primary selection:text-primary selection:bg-secondary overflow-hidden"
          transition:name={description}
        >
          {description}
        </p>
        {date && <time class="">Since {date}</time>}
        <div class="p-4 text-5xl">
          {freelance ? 
          <div class="badge rounded-pill text-bg-primary">
            Freelanced!
          </div>
          : <div class="badge rounded-pill text-bg-primary">
              Pet Project!
            </div>
          }
        </div>
          <div class="flex justify-evenly">
            {tags.map(tag => <Tag text={tag} transition:name={tag} />)}
          </div>
        <hr />
        <slot />
      </article>
    </main>
    <Footer>
			<Image src={pattern} alt='pattern' id='pattern' style={{}} />
		</Footer>
		<style>
			#pattern {
				background-size: cover;
				object-fit: fill;
				width: auto;
			}
		</style>
	</body>
  </body>
</html>
